.form-add-post{
    margin: 20px;
    padding: 10px;
    width: 40%;
}

/* input{
    width: 90%;
    padding: 8px;
    margin-top: 10px;
}

textarea{
    padding: 8px;
    width: 90%;
    margin-top: 10px;
} */